<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>
        <link rel="stylesheet" href="{% static 'geoshops/styles.css' %}">
    </head>
    <body>
        {% for shop in shops %}
            <div>Shop : <span>{{ shop }}</span></div>
            <div>City : <span>{{ shop.city }}</span></div>
            <div>Address : <span>{{ shop.address }}</span></div>
            <div>Location : <span>{{ shop.location }}</span></div>
            <hr class="new-line">
        {% endfor %}
    </body>
</html>